<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/siswa">Siswa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/usertype">User Type</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/user">Users</a>
          </li>
        </ul>
      </div>
      <div class="d-flex" style="width: 180px">
        <div class="dropdown mx-auto">
          <% if (user) { %>
            <a
            href="#"
            class="d-flex align-items-center text-decoration-none dropdown-toggle gap-1 text-white"
            id="dropdownUser"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            > 
              <img
                src="/assets/default/default_boy.png"
                alt="Profile Picture"
                width="40"
                height="40"
                class="rounded-circle"
              /> 
              <span class="d-none d-sm-inline mx-1"><%= user.username %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser">
              <li><a class="dropdown-item" href="/my-account">My Account</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          <% } %>
          
        </div>
      </div>
      
    </div>
  </nav>